<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jero.general.online.dao.CodeBaseInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.jero.general.online.entity.CodeBaseInfoEO">
                    <id column="id" property="id" />
                    <result column="table_name" property="tableName" />
                    <result column="table_description" property="tableDescription" />
                    <result column="database_url" property="databaseUrl" />
                    <result column="database_username" property="databaseUsername" />
                    <result column="database_password" property="databasePassword" />
                    <result column="is_senior_query" property="isSeniorQuery" />
                    <result column="is_checkbox" property="isCheckbox" />
                    <result column="is_page" property="isPage" />
                    <result column="is_tree" property="isTree" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, table_name, table_description, database_url, database_username, database_password, is_senior_query, is_checkbox, is_page, is_tree
        </sql>

</mapper>
