<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jero.general.online.dao.CodeDatabaseInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.jero.general.online.entity.CodeDatabaseInfoEO">
                    <id column="id" property="id" />
                    <result column="field_name" property="fieldName" />
                    <result column="field_description" property="fieldDescription" />
                    <result column="field_length" property="fieldLength" />
                    <result column="field_point" property="fieldPoint" />
                    <result column="field_type" property="fieldType" />
                    <result column="is_primary_key" property="isPrimaryKey" />
                    <result column="is_null" property="isNull" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, field_name, field_description, field_length, field_point, field_type, is_primary_key, is_null
        </sql>

</mapper>
